.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Space Mono", monospace;
   background-color: hsl(185, 41%, 84%);
  font-size: 24px;
   margin: 0 auto;   
    max-height: 100vh;
    max-width: 375px;
  
}
header {
  text-align: center;
  height: 150px;
  padding: 15px;
  color: hsl(186, 14%, 43%);
}
h1 {
  margin: 5px;
}
main {
  position: relative;
}
.container {
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}
h2{
  font-size: 1.2rem;
  color: hsl(186, 14%, 43%);
}
 #bill, #people{
  border: none;
  height: 45px;
  border-radius: 5px;
  background-color:hsl(189, 47%, 97%) ;
  width: 100%;
  color: hsl(183, 100%, 15%);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}
#bill:focus, #people:focus, #custom-tip:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.error-message {
  position: absolute;
  top: 10%;
  left: 65%;
  color: red;
  font-size: .9rem;
  margin-bottom: 1px;
  
}
.tip-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.tip-button {
  background-color: hsl(183, 100%, 15%);
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  width: 160px;
}
#custom-tip {
  background-color:hsl(189, 47%, 97%) ;
  border: none;
  border-radius: 5px;
   color: hsl(183, 100%, 15%);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px 35px;
  width: 160px;
  box-sizing: border-box;
}
.sub-section {
  margin-top: 30px;
  position: relative;
}
#icon-person, #icon-dollar {
  position: absolute;
  top: 60%;
  left: 6%;
}
.total-section {
    margin-top: 20px;
    background-color: hsl(183, 100%, 15%);
    border: none;
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: 400;
      color: hsl(172, 67%, 45%);
      padding: 20px;
      box-sizing: border-box;
}
.up {
  display: flex;
  justify-content: space-between;
}
.total-right > p {
  font-size: 2.5rem;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  margin-top: 0;

}
.total-section h2 {
  color: white;
}
p {
  font-size: 1rem;
  color: hsl(186, 14%, 43%);
  font-weight: 500;
}

#reset-button {
  width: 100%;
  height: 40px;
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  font-size: 1.2rem;
  font-weight: 700;
}
button:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.attribution { font-size: 11px; text-align: center;
margin: 20px 0;}
    .attribution a { color: hsl(228, 45%, 44%); }

    @media (min-width: 835px) {
      body {max-height: 100vh;

        margin: 100px auto;
        max-width: 758px;
      }
      .container {
        display: flex;
        box-sizing: border-box;
        width: 940px;
        gap: 10px;
      }
      .error-message {
        position: absolute;
        top: 10%;
        left: 65%;
        color: red;
        font-size: 1rem;
        margin-bottom: 1px;
      }
  
  .input-error {
    border: 2px solid red;
  }
      .tip-btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3px;
      }
      .tip-button {
        width: 130px;
      }
      #custom-tip {
        width: 130px;
      }
      .left {
        padding: 10px;
        width: 50%;
      }
      .right {
        width: 50%;
        padding: 10px;
      
      }
      .total-amt {
        margin-bottom: 120px;
      }
    }