.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  margin: 0;
}
.header {
  text-align: center;
  padding: 20px;
  background-color: hsl(185, 41%, 84%);
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }